/* Enter your custom styles here */
.labelColor {
    color: #104c1d;
}

.sapUiVlt.sapUiContentPadding {
    padding: 0rem; 
    box-sizing: border-box;
}

.sapUiVlt.sapUiContentPadding>.sapuiVltCell:not(:last-child) {
    padding-bottom: 0rem; 
    box-sizing: border-box;
}

.name {
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 20px 0 rgba(0, 0, 0, 0.09);*/
    text-align: center;
    border-radius: 15px;
    padding:5px;
  }

  .sapUiSizeCompact.sapMDialog, .sapUiSizeCompact .sapMDialog .customDialog{
    min-height: 15rem;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}